<br />
<br />
<br />
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img src="assets/Beethoven.jpg" alt="Composer" class="img-fluid">
    </div>
    <div class="col-sm-8">
      <p>
        Ludwig van Beethoven (1770-1827) was a pivotal figure in the history of
        Western music. Born in Bonn, Germany, Beethoven displayed his musical
        prowess at an early age. He moved to Vienna at 21, studying under Joseph
        Haydn and quickly earning acclaim as a virtuoso pianist. Despite the
        loss of his hearing in his late 20s, Beethoven continued to compose a
        series of revered works, including his nine symphonies, piano concertos,
        and string quartets. His compositions, which span the transition from
        the Classical period to the Romantic era, continue to be mainstays of
        the classical music repertoire today.
        <a href="https://en.wikipedia.org/wiki/Ludwig_van_Beethoven">Source</a>
      </p>
    </div>
  </div>
</div>
